<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>COUNTER</title>
</head>
<body>
  <h1>COUNTER</h1>
  <div class="container">
    {{count}}
  </div>
  <div class="container">
    <form action='/addtwo' >
      <input type="submit" name="" value="count2">
    </form>
    <form action='/reset'>
      <input type="submit" name="" value="reset">
    </form>
  </div>
</body>
</html>
